@if (internalMathExercises() && filteredMathExercises().length > 0) {
    <div class="math-list__scroll">
        <table class="math-list__table">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" (sortChange)="sortRows()">
                    <th jhiSortBy="title"><span jhiTranslate="artemisApp.exercise.title"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="dueDate"><span jhiTranslate="artemisApp.exercise.dates"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="maxPoints"><span jhiTranslate="artemisApp.exercise.points"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th><span jhiTranslate="artemisApp.exercise.categories"></span></th>
                    <th style="width: 1%"></th>
                </tr>
            </thead>
            <tbody>
                @for (mathExercise of filteredMathExercises(); track trackId($index, mathExercise)) {
                    <tr id="exercise-card-{{ mathExercise.id }}">
                        <td>
                            @if (mathExercise.isAtLeastTutor) {
                                <a [routerLink]="['/course-management', courseContext()?.id, 'math-exercises', mathExercise.id]">{{ mathExercise.title }}</a>
                            } @else {
                                {{ mathExercise.title }}
                            }
                        </td>
                        <td style="white-space: nowrap">
                            <div class="math-list__dates">
                                @if (mathExercise.releaseDate) {
                                    <div>
                                        <span class="math-list__label" jhiTranslate="artemisApp.exercise.release"></span>:
                                        {{ mathExercise.releaseDate | artemisDate }}
                                    </div>
                                }
                                @if (mathExercise.dueDate) {
                                    <div>
                                        <span class="math-list__label" jhiTranslate="artemisApp.exercise.due"></span>:
                                        {{ mathExercise.dueDate | artemisDate }}
                                    </div>
                                }
                            </div>
                        </td>
                        <td>
                            <div>
                                {{ mathExercise.maxPoints }}
                            </div>
                        </td>
                        <td><jhi-exercise-categories [exercise]="mathExercise" /></td>
                        <td class="math-list__actions-cell" style="white-space: nowrap">
                            <div class="math-list__actions">
                                @if (mathExercise.isAtLeastTutor) {
                                    <a pButton size="small" severity="info" [routerLink]="['/course-management', courseContext()?.id, 'math-exercises', mathExercise.id, 'scores']">
                                        <fa-icon [icon]="faTable" />
                                        <span class="math-list__btn-label" jhiTranslate="entity.action.scores">Scores</span>
                                    </a>
                                }
                                @if (mathExercise.isAtLeastTutor) {
                                    <a
                                        pButton
                                        size="small"
                                        severity="primary"
                                        [routerLink]="['/course-management', courseContext()?.id, 'math-exercises', mathExercise.id, 'participations']"
                                    >
                                        <fa-icon [icon]="faListAlt" />
                                        <span class="math-list__btn-label" jhiTranslate="artemisApp.exercise.participations">Participations</span>
                                    </a>
                                }
                                <a pButton size="small" severity="warn" [routerLink]="['/course-management', courseContext()?.id, 'math-exercises', mathExercise.id, 'edit']">
                                    <fa-icon [icon]="faWrench" />
                                    <span class="math-list__btn-label" jhiTranslate="entity.action.edit">Edit</span>
                                </a>
                                <button
                                    pButton
                                    jhiDeleteButton
                                    severity="danger"
                                    size="small"
                                    [renderButtonStyle]="false"
                                    [renderButtonText]="false"
                                    [entityTitle]="mathExercise.title!"
                                    deleteQuestion="artemisApp.exercise.delete.question"
                                    deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
                                    [translateValues]="{
                                        courseTitle: courseContext()?.title,
                                        courseType: courseContext()?.testCourse
                                            ? ('artemisApp.exercise.delete.testCourse' | artemisTranslate)
                                            : ('artemisApp.exercise.delete.realCourse' | artemisTranslate),
                                    }"
                                    (delete)="deleteExercise(mathExercise.id)"
                                    [dialogError]="dialogError$"
                                >
                                    <fa-icon [icon]="faTrash" />
                                    <span class="math-list__btn-label" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
